
.linearGradient {
	background: linear-gradient(lightblue, blue);
}

.svgButton {
	display: block;
	height: 60px
}

.svgButtonBackground {
	fill: black
}

.svgButtonText {
	fill: white;
	font-family: script, cursive, fantasy;
	font-size: 20
}
