
.svgButton
{
	display: block;
	height: 60px
}

.svgButtonBackground
{
	fill: black
}

.svgButtonText
{
	fill: white;
	font-family: script, cursive, fantasy;
	font-size: 20
}

.websiteStyle
{
	background-color: #F3E2A9;
	font-family: script, cursive, fantasy
}